@model web.Models.Drivers

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Drivers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FrequentDrivingLocations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FrequentDrivingLocations)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalJobsCompleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalJobsCompleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DriverId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
