@model web.Models.JobOffers

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobOffers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Job Offer ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobOfferId)
        </dd>
        <dt>
            Job ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobId)
        </dd>
        <dt>
            Driver Username
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DriverId)
        </dd>
        <dt>
            Proposed Delivery Price
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProposedDeliveryPrice)
        </dd>
        <dt>
            Proposed Pick Up Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProposedPickupDate)
        </dd>
        <dt>
            Approximate Delivery Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApproxDeliveryDate)
        </dd>
        <dt>
            Job Offer Confirmed?
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobOfferConfirmed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.JobOfferId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
